.app-container {
  width: 40%;
  margin: 0px auto;
}
section {
  border: solid 1px black;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

li span {
  font-style: italic;
}

ul {
  padding: 0;
}
