/* ========== */
/* General */
/* ========== */
:root {
  --clr-neutral-100: #ffffff;
  --clr-green-accent: #2caa63;
  --clr-red-accent: #da3338;
  --clr-section-container: #dddddd;

  font-size: 62.5%;
  --fs-600: 3.7rem;
  --fs-500: 2.8rem;
  --fs-400: 2.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: var(--fs-400);
  font-weight: 400;
  margin: 0;
  color: var(--clr-neutral-900);
  background-color: var(--clr-green-accent);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

/* ========== */
/* Components */
/* ========== */

/* App container */
/* ==============*/
.app-container {
  width: min(90%, 620px);
  margin: 0 auto;
}

/* Header */
/* ==============*/
header {
  color: var(--clr-neutral-100);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

header h1 {
  font-size: var(--fs-600);
}

/* Sections */
/* ==============*/
.section-container {
  background-color: var(--clr-section-container);
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
}

section {
  background-color: var(--clr-neutral-100);
  border-radius: 30px;
  padding: 1.5rem;
}

section h2 {
  font-size: var(--fs-500);
}

/* Add an item */
/* ==============*/
form {
  display: flex;
  flex-wrap: wrap;
}

form input {
  font-size: var(--fs-400);
  padding: 0.2em 0.2em;
}

form button {
  font-size: var(--fs-500);
  background: var(--clr-neutral-100);
  color: var(--clr-green-accent);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
}

form button:hover {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-accent);
}

/* To buy */
/* ==============*/
.fa-trash,
.fa-check {
  pointer-events: none;
}

.check-mark-button {
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
  background: var(--clr-green-accent);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
}
.check-mark-button:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-green-accent);
}

.trash-button {
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
  background: var(--clr-red-accent);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
}

.trash-button:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-red-accent);
}

#to-buy-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#to-buy-title select {
  height: 3.6rem;
  background-color: var(--clr-neutral-100);
}

/* List Elements*/
/* ===============*/
li {
  display: flex;
  justify-content: space-between;
}

li p {
  flex-grow: 1;
}

li span {
  font-style: italic;
}

ul {
  padding: 1rem;
}

/* ========== */
/* Utilities */
/* ========== */
.small-margin-bottom {
  margin-bottom: 1rem;
}
